@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Demonstrate a component lifecycle in Blazor WebAssembly .NET 7. - Blazor School</p>
<p>For additional tutorials on Blazor WebAssembly, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="demonstrate">Lifecycle demonstration</NavLink></div>
<div><NavLink href="initialize-and-dispose">Initialize and Dispose Phase</NavLink></div>
<div><NavLink href="parameters-set">Parameters Set Phase</NavLink></div>
<div><NavLink href="after-render">After Render Phase</NavLink></div>