@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Demonstrate a component lifecycle in Blazor WebAssembly .NET 7. - Blazor School</p>
<p>If you are looking for more Blazor WebAssembly tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<NavLink href="demonstrate">Lifecycle demonstration</NavLink>
<NavLink href="initialize-and-dispose">Initialize and Dispose Phase</NavLink>
<NavLink href="parameters-set">Parameters Set Phase</NavLink>
<NavLink href="after-render">After Render Phase</NavLink>